.DS_Store
node_modules/
ignore/

# I hate checking this file in. May need to at some point.
package-lock.json

# Prevent accidental checking in of code coverage reports
/.tap

# Prevent accidental checking in of perf reports
scrollBrowserPerf.html
scrollNodePerf.cpuprofile

# Dump import examples here
tests/importExamples/
tests/kitchenSink/style.css
tests/kitchenSink/posts.csv
tests/kitchenSink/prompt.txt
tests/kitchenSink/planets.csv
tests/kitchenSink/planets.tsv
tests/kitchenSink/planets.json
tests/kitchenSink/planetsNoSchema.csv

# Do not check in files built by Scroll
*.html
feed.xml