.DS_Store
node_modules/
ignore/

# I hate checking this file in. May need to at some point.
package-lock.json

# Prevent accidental checking in of code coverage reports
/.tap

# Prevent accidental checking in of perf reports
scrollBrowserPerf.html
scrollNodePerf.cpuprofile

# Dump import examples here
tests/importExamples/
tests/kitchenSink/style.css
tests/kitchenSink/posts.csv
tests/kitchenSink/prompt.txt

blog/planets.csv
blog/planets.tsv
blog/planets.json

# Do not check in files built by Scroll
*.html
feed.xml

# Do not check in external assets copied by Scroll
blog/dataTables.dataTables.min.css
blog/dataTables.min.js
blog/jquery-3.7.1.min.js
katex.min.css
katex.min.js
# We need to reinclude the below 2 files to get them in node_modules folder.
!external/katex.min.css
!external/katex.min.js
tests/kitchenSink/leaflet.css
tests/kitchenSink/leaflet.js